@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box;
}

.overflow_hidden {
    overflow: hidden !important;
}

.background-img {
    background-image: url("../images/png/background-img.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-color: #040404;
}

.pb_100 {
    padding-bottom: 100px;
}

.pt_100 {
    padding-top: 100px;
}

.z-index_3 {
    z-index: 3 !important;
}

.z_index_4 {
    z-index: 4 !important;
}

.bg_grey-img {
    background-image: url("../images/png/bg-grey-img.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.project-bg-img {
    background-image: url("../images/png/bg_white-img.png") !important;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    object-fit: cover;
}

.connect_button {
    border-radius: 82px;
    background: var(--White, #FFF);
    padding: 12px 32px;
    border: 2px solid transparent;
    transition: all 300ms linear;
}

.connect_button:hover {
    border-radius: 82px;
    background: transparent;
    padding: 12px 32px;
    border: 2px solid #ffffff;
    color: #ffffff !important;
}

.started_button {
    padding: 12px 32px;
    border: 2px solid #ffffff;
    border-radius: 82px;
    background: #ffffff;
    transition: all 300ms linear;
}

.started_button:hover {
    padding: 12px 32px;
    border: 2px solid #ffffff;
    border-radius: 82px;
    background: transparent;
    color: #ffffff !important;

}

.started_button:hover span svg path {
    fill: #ffffff !important;
}

.started_button:hover a {
    color: #ffffff !important;
}
.arrow_img {
    -webkit-animation: popupdown 1.5s infinite linear;
    animation: popupdown 1.5s linear infinite;
}

.footer_img {
    transition: 0.3s linear;
    border: 1px solid rgba(255, 255, 255, 0.381) !important;
}

.footer_img:hover {
    box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.692) !important;
}

.view_button {
    padding: 12px 32px;
    border: 2px solid #ffffff;
    border-radius: 82px;
    background: transparent;
    transition: all 300ms linear;
}

.view_button:hover {
    padding: 12px 32px;
    border: 2px solid transparent;
    border-radius: 82px;
    background: #ffffff;
    color: #040404 !important;
}

.button {
    padding: 12px 32px;
    border: 2px solid #040404;
    border-radius: 82px;
    background: transparent;
    transition: all 300ms linear;
}

.button:hover {
    padding: 12px 32px;
    border: 2px solid transparent;
    border-radius: 82px;
    background: black;
    color: #ffffff !important;
}

.read_button {
    padding: 16px 34px;
    border: 2px solid #ffffff;
    border-radius: 82px;
    background: transparent;
    transition: all 300ms linear;
}

.read_button:hover {
    padding: 16px 34px;
    border: 2px solid transparent;
    border-radius: 82px;
    background: #ffffff;
    color: #040404 !important;
}

.nav-line::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    background-color: #ffffff;
    transition: all 300ms linear;
    bottom: 0;
}

.nav-line:hover::after {
    width: 100%;
}

.nav-ellips {
    position: absolute;
    width: 184px;
    height: 184px;
    background-color: #FFF;
    filter: blur(124px);
    z-index: 2;
}

.up-ellips {
    position: absolute;
    right: 0%;
    top: 75%;
    width: 182px;
    height: 182px;
    background-color: #FFF;
    filter: blur(124px);
}

.service_ellips {
    position: absolute;
    top: 78%;
    width: 209px;
    height: 209px;
    background-color: #FFF;
    filter: blur(124px);
}

.about_ellips {
    position: absolute;
    right: 0;
    top: -14%;
    background-color: #FFF;
    filter: blur(124px);
    width: 226px;
    height: 226px;
}

.footerline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

.white_line::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: rotate(-3.484deg);
    left: 16%;
    top: -11%;
    height: 1px;
    background-color: #fff;
}

.whiteline_bottom::before {
    content: "";
    position: absolute;
    transform: rotate(-5.484deg);
    width: 100%;
    left: -4%;
    top: 100%;
    height: 1px;
    background-color: #fff;
}

.project_card {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
    padding: 16px;
}

.border-radius_12 {
    border-radius: 12px;
}

.bottom_10 {
    bottom: 10%;
}

.px-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.black_card {
    background: transparent;
    border-radius: 12px;
    border: 1px solid transparent;
    position: relative;
    z-index: 2;
    transition: .2s linear;
}

.lh_24 {
    line-height: 24px;
}

.wh_hov:hover .black_card {
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.10) !important;
    background: rgba(255, 255, 255, 0.10) !important;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15) !important;
    backdrop-filter: blur(8px) !important;
}

.white_circle {
    right: -7%;
    top: -15%;
}

.wh_hov:hover .circle_wh {
    opacity: 1;
}

.border-radius_8 {
    border-radius: 8px;
}

.circle_wh {
    position: absolute;
    width: 73px;
    height: 74px;
    border-radius: 50%;
    background: var(--White, #FFF);
    box-shadow: 0 4px 16px 0 hsla(0, 0%, 100%, .1);
    opacity: 0;
    transition: .3s linear;
}

.blur_img::after {
    content: "The Tokyo Tem";
    font-family: 'sunflower', 'sans-serif';
    font-weight: 700;
    font-size: var(--fs-md);
    color: #ffffff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    height: 47px;
    left: 12px;
    right: 12px;
    bottom: 0;
    border-radius: 0px 0px 8px 8px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4.5px);
}

.blur_img:hover::after {
    display: flex !important;
}

.blur_img:hover {
    transform: scale(1.2);
    z-index: 2 !important;
}

.mb_24 {
    margin-bottom: 24px;
}

.pb_70 {
    padding-bottom: 70px;
}

.lh_28 {
    line-height: 28px;
}

.footer:hover {
    transform: translateY(-5px) !important;
}

.gap_24 {
    gap: 24px;
}

.line {
    height: 2px;
    color: #ffffff;
}

.animation {
    animation: swing 2s linear infinite;
}

.z_index_4 {
    z-index: 4 !important;
}

.duration_300 {
    transition: 300ms linear;
}

.pointer_event_none {
    pointer-events: none;
}
@-webkit-keyframes popupdown {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(15%);
        transform: translateY(15%);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes swing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}
@media (max-width:992px) {
    .overflow_hiddden {
        overflow: hidden;
    }

    .mobile_view {
        position: fixed;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: black;
        transition: 300ms linear;
    }

    .line,
    .line1,
    .line2 {
        width: 35px;
        background-color: white;
        min-height: 5px;
        transition: 300ms linear;
        border-radius: 10px;
    }

    .cross .line {
        transform: rotate(50deg) translate(19px, 17px);
    }

    .cross .line1 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line2 {
        transform: rotate(-50deg) translateY(-50%);
    }

        .project-bg-img {
            background-size:cover !important;
        }
}
@media (min-width:992px) {
    .mw_224 {
        max-width: 224px;
    }

    .white_circle_lg {
        right: -16%;
        top: -11%;
    }

    .max-width_532 {
        max-width: 532px;
    }

    .max-width_570 {
        max-width: 570px;
    }

    .project-bg-img {
        background-position: unset !important;
    }
}
@media (min-width:768px) {
    .white_circle_md {
        right: -11%;
        top: -13%;
    }
}
@media (min-width:1200px) {
    .max-width_570 {
        max-width: 570px !important;
    }

    .min_vh_100 {
        min-height: 100vh !important;
    }

    .projectline::after {
        content: "";
        position: absolute;
        Width: 344.27px;
        transform: rotate(-3.484deg);
        left: 27%;
        top: -19%;
        height: 1px;
        background-color: #fff;
    }

    .projectline_bottom::before {
        content: "";
        position: absolute;
        transform: rotate(-3.484deg);
        Width: 344.27px;
        left: 12%;
        top: 110%;
        height: 1px;
        background-color: #fff;
    }

    .serviceline::after {
        content: "";
        position: absolute;
        Width: 344.27px;
        transform: rotate(-3.484deg);
        left: 40%;
        top: -19%;
        height: 1px;
        background-color: #fff;
    }

    .serviceline_bottom::before {
        content: "";
        position: absolute;
        transform: rotate(-3.484deg);
        Width: 344.27px;
        left: 35%;
        top: 98%;
        height: 1px;
        background-color: #fff;
    }

    .aboutline::after {
        content: "";
        position: absolute;
        Width: 344.27px;
        transform: rotate(-3.484deg);
        left: -29%;
        top: -19%;
        height: 1px;
        background-color: #fff;
    }

    .aboutline_bottom::before {
        content: "";
        position: absolute;
        transform: rotate(-3.484deg);
        Width: 344.27px;
        left: -77%;
        top: 98%;
        height: 1px;
        background-color: #fff;
    }

    .blackline::after {
        content: "";
        position: absolute;
        Width: 344.27px;
        transform: rotate(-3.484deg);
        left: -3%;
        top: -19%;
        height: 1px;
        background-color: #040404;
    }

    .blackline_bottom::before {
        content: "";
        position: absolute;
        transform: rotate(-3.484deg);
        Width: 344.27px;
        left: -38%;
        top: 98%;
        height: 1px;
        background-color: #040404;
    }
}
@media (min-width:1440px) {
    .h_686 {
        height: 686px !important;
    }
}